package ${configDto.packagePath}.${configDto.module.code}.api;

import ${configDto.packagePath}.${configDto.module.code}.dto.${tableEntity.classNameUp}Dto;

import com.seeyon.boot.transport.PageRequest;
import com.seeyon.boot.transport.PageResponse;
import com.seeyon.boot.transport.SingleRequest;
import com.seeyon.boot.transport.SingleResponse;



/**
 * ${tableEntity.comments}
 *
#if($configDto.author != "")
 * @author ${configDto.author}
#end
 * @date ${configDto.datetime}
 */
public interface ${tableEntity.classNameUp}AppService {

    /**
     * 创建${tableEntity.comments}
     * @param request ${tableEntity.comments}
     * @return ${tableEntity.comments}Id
     */
    SingleResponse<Long> create(SingleRequest<${tableEntity.classNameUp}Dto> request);

    /**
     * 分页查询${tableEntity.comments}
     * @param request 参考${tableEntity.comments}Dto
     * @return ${tableEntity.comments}Dto集合
     */
    PageResponse<${tableEntity.classNameUp}Dto> selectPageByConditions(PageRequest request);

    /**
     * 根据ID查询${tableEntity.comments}
     * @param request ${tableEntity.comments}id
     * @return ${tableEntity.comments}Dto
     */
    SingleResponse<${tableEntity.classNameUp}Dto>selectById(SingleRequest<Long> request);

    /**
     * 根据id删除${tableEntity.comments}
     * @param request ${tableEntity.comments}id
     * @return 删除数量
     */
    SingleResponse<Integer>deleteById(SingleRequest<Long> request);

    /**
     * 修改${tableEntity.comments}
     * @param request ${tableEntity.comments}Dto
     * @return 修改数量
     */
    SingleResponse<Integer>update(SingleRequest<${tableEntity.classNameUp}Dto> request);
}

