package ${package}.${moduleName}.domian.dao;

import ${package}.${moduleName}.domain.entity.${className};
import com.seeyon.boot.starter.mybatis.BaseMybatisDao;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseMybatisDao<${className}> {
	
}
