package ${configDto.packagePath}.${configDto.module.code}.domian.dao;

import ${configDto.packagePath}.${configDto.module.code}.domain.entity.${tableEntity.classNameUp};
import com.seeyon.boot.starter.mybatis.BaseMybatisDao;

/**
 * ${tableEntity.comments}
 * 
#if($configDto.author != "")
 * @author ${configDto.author}
#end
 * @date ${configDto.datetime}
 */
public interface ${tableEntity.classNameUp}Dao extends BaseMybatisDao<${tableEntity.classNameUp}> {
	
}
