package ${configDto.packagePath}.${configDto.module.code}.dto;

import com.seeyon.boot.annotation.AppService;
import com.seeyon.boot.transport.BaseDto;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import javax.validation.constraints.NotNull;


/**
 * ${tableEntity.comments}
 * 
#if($configDto.author != "")
 * @author ${configDto.author}
#end
 * @date ${configDto.datetime}
 */
@Getter
@Setter
@ApiModel(description = "${tableEntity.comments}信息")
public class ${tableEntity.classNameUp}Dto extends BaseDto {

	private static final long serialVersionUID = ${tableEntity.dtoUid}L;

	#foreach ($column in $tableEntity.columns)
@ApiModelProperty(value = "$column.comments")
	private $column.attrType $column.attrname;
	#end

}
